body{
    background-color: #f6f6f6;
}

/* Navbar */
.navbar{
    padding: 20px;
}

.container{
    padding-inline: 12rem;
    margin-inline: auto;
}

@media(max-width:1350px){
    .container{
        padding-inline: 6rem;
    }
}
@media(max-width:1150px){
    .container{
        padding-inline: 1rem;
    }
}

.job{
    padding: 20px;
}

.job .mainCard{
    position: relative;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 6px;
}
.job .mainCard .cardTitle{
    font-size: 25px;
}

.job .mainCard .cardBody{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 25px;
}
.job .mainCard .cardBody .btns{
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
}
.job .mainCard .btns img{
    width: 100px;
    height: 30px;
}
.job .mainCard .cardBody .location{
    color: blue;
}
.job .mainCard .cardBody .companyName{
    color: rgb(113, 123, 177);
}
.job .mainCard .cardBody .date{
    font-size: 15px;
    color: rgb(83, 83, 83);
    margin-block: 3px 20px;
}
.job .mainCard .cardBody .openedJobs{
    color: rgb(83, 83, 83);
    margin-bottom: 10px;
}
.job .mainCard .cardBody .openedJobs span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.job .mainCard .applyBtn{
    font-size: 16px;    
    color: white;
    background-color: var(--main-color);
    padding:9px 20px;
    border: none;
    cursor: pointer;
}

.job .jobDetails,
.job .jobDesc{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 6px;
    margin-bottom: 20px;
}

.job .jobDetails .cardTitle,
.job .jobDesc .cardTitle{
    font-weight: bold;
    margin-bottom: 10px;
}

.job .jobDetails span:first-child{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #4D6182;
    width: 142px;
    min-width: 200px;
    display: inline-block;
    margin-right: 8px;
}
.job .jobDetails span:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 22px;
    display: inline-flex;
    align-items: flex-start;
    color: rgb(0, 20, 51);
    width: fit-content;
}

.job .jobDesc .cardBody{
    list-style-type: disc;
    padding: 20px;
}
  