body{
  background-color: #f6f6f6;
}

/* Navbar */
.navbar{
  padding: 20px;
}

/* Start Subheader  */
.subheader {
  padding: 20px;
  background-color: var(--third-color);
  color: white;
}
/* End Subheader  */

/* Start Content */
.content {
  padding: 20px;
}

.content .container {
  display: flex;
}

.content .container .filterSection {
  flex: 20%;
  border: 2px solid #ccc;
  padding: 20px 15px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  height: 100%;
}

@media (max-width:1220px) {
  .content .container .filterSection {
        display: none;
    }
}

.content .filterChoice:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.content .filterChoice .filterContent {
  margin-top: 15px;
  padding: 0 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

.content .container .filterContent input[type=checkbox]{
    background-color: red;
    color: red;
}

.content .filterChoice .filterContent .check-box{
    padding: 5px;
    font-size: 17px;
}

.collapsible {
  cursor: pointer;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
    content: "\2796"; 
  }

.content .container .jobsSection {
  flex: 80%;
  margin-left: 20px;
}

@media (max-width:1220px) {
  .content .container .jobsSection {
        margin: 0;
    }
}

.content .container .jobsSection .box{
    background-color: white;
    padding: 35px;
    margin-bottom: 15px;
    position: relative;
}
.content .container .jobsSection .box .title{
    color: var(--main-color);
    font-size: 23px;
}
.content .container .jobsSection .box img{
  position: absolute;
  width: 100px;
  height: 30px;
  right: 50px;
  top: 30%;
  transform: translateY(-50%);
}
.content .container .jobsSection .box .details{
    color: black;
    margin-block: 10px;
}
.content .container .jobsSection .box .details .companyName{
    color: var(--third-color);
    font-weight: bold;
}
.content .container .jobsSection .box .details .createdAt{
    color: rgb(53, 175, 53);
    margin-block: 5px;
    font-weight: bold;
}
.content .container .jobsSection .box .details .description{
    margin-top: 9px;
}

@media (max-width:650px) {
 .container{
    padding: 0px;
    }
}

/* End Content */
